@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    color: hsl(192, 100%, 9%);
    width: 100%;
}
h1 {
    font-family: 'Poppins',
        sans-serif !important;
}
p, a, button, label, li, small {
    font-family: 'Open Sans', sans-serif;
}
header {
    width: 100%;
    height: 800px;
    background-image: url("images/bg-hero-desktop.svg");
    background-color: hsl(193, 100%, 96%);
    background-size: cover;
    background-repeat: no-repeat;
    /* color: hsl(192, 100%, 9%); */
}
nav {
    padding-bottom: 30px;
}
nav > img {
    width: 150px;
    margin: 60px 0 0 90px;
}
nav > ul {
    float: right;
    list-style: none;
    margin: 60px 90px 0 0;
}
nav  >  ul a {
    text-decoration: none;
    background-color: #ffffff;
    padding: 12px 50px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0#1817170a, 0 8px 20px 0 #25252513;
}
.header-body {
    display: flex;
    flex-direction: row;
}

.header-text {
    /* height: 500px; */
    width: 40%;
}

.header-text {
    display: flex;
    flex-direction: column;
    /* max-height: 400px; */
    /* background-color: aqua; */
    margin-top: calc(25% - 200px);
    padding: 10px 80px 60px 80px;
}
.header-text h1 {
    line-height: 50px;
    font-size: 2.1rem;
}
.header-text p {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 22px;
}
.header-text button {
    margin-top: 15px;
    /* flex-grow: 1; */
    width: 60%;
    height: 55px;
    border: none;
    font-size: 12px;
    border-radius: 50px;
    background-color: hsl(322, 100%, 66%);
    box-shadow: -1px 9px 33px 6px #28282812;
    color: #ffffff;
    cursor: pointer;
    transition: all 1s;
}
.header-text button:hover {
    background-color: hsl(322, 84%, 75%);
}
.header-img {
    width: 60%;
}
.header-img img {
    width: 85%;
    /* height: 100%; */
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(50% - 300px);
    padding-left: 30px;
}
/* ipad Air Screen */
@media (max-width: 912px) {
    header {
        width: 100vw;
        height: 75vh;
    }
    .header-text {
        width: 45%;
    }
    .header-img {
        width: 55%;
    }
    .header-text {
        margin-top: 160px;
        padding: 0 20px 0 60px;
    }
    .header-text h1 {
        /* line-height: 35px; */
        font-size: 1.8rem;
    }
    .header-text p {
        line-height: 25px;
        font-size: 1.1rem;
        padding-bottom: 20px;
    }
    .header-img {
        margin-top: 240px;
    }
    
}


@media (max-width: 540px) {
    header {
        width: 100vw;
        height: 130vh;
    }

    /* logo */
    nav >img {
            width: 100px;
            margin: 55px 0 0 25px;
    }
    
    nav>ul {
        margin: 55px 25px 0 0;
    }
    
    nav>ul a {
        padding: 8px 25px;
        border-radius: 20px;
    }

    .header-body {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .header-text {
        margin-top: 60px;
        text-align: center;
        padding: 10px 50px;
    }
    .header-text h1 {
        line-height: 35px;
        font-size: 1.5rem;
    }
    .header-text,
    .header-img {
        width: 100%;
    }
    .header-text button {
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        width: 80%;
        height: 40px;
        font-size: 12px;
    }
    .header-img {
        margin: auto;
    }
    .header-img img {
        padding-left: 0;
        margin-left: calc(50% - (85% / 2));
        margin-top: 80px;
    }
}

@media (max-width: 375px) {

    header {
            width: 100vw;
            height: 870px;
        }

    /* logo */
        nav>img {
            width: 90px;
            margin: 55px 0 0 20px;
        }
    
        nav>ul {
            margin: 55px 20px 0 0;
        }
    
        nav>ul a {
            padding: 8px 15px;
            border-radius: 20px;
        }

    .header-text {
        padding: 0;
        padding-left: 40px;
        padding-right: 40px;
    }
    .header-body {
        display: flex;
        flex-direction: column;
        
    }
    .header-text,
    .header-img {
        width: 100vw;
    }
    .header-text h1 {
    line-height: 35px;
    /* font-size: 2rem; */
    text-align: center;
    }
    .header-text p {
        margin-top: 35px;
        line-height: 20px;
    }
    .header-text button {
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        width: 70%;
        height: 40px;
        font-size: 12px;
    }
}

main {
    width: 100%;

    /* 1st card margin top + card height + card margin top * 4 */
    height: calc(870px + (230px) * 3);
}

.card {
    display: flex;
    flex-direction: row;
    width: 75vw;
    margin-left: calc(50vw - (75vw / 2));
    margin-top: 90px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0#1817170a, 0 8px 20px 0 #25252513;
}

/* reverse all even positioned card, 
add to this if you add any card to the markup */
.card:nth-child(2),
.card:nth-child(4),
.card:nth-child(6),
.card:nth-child(8),
.card:nth-child(10) {
    display: flex;
    flex-direction: row-reverse;
}
.card .card-item {
    width: 50%;
    height: 300px;
}
.card:first-child {
    margin-top: 200px;
}
.card-item:first-child {
    padding: 60px 80px 0 50px;
    font-size: 15px;
}
.card h1 {
    font-size: 1.3rem;
}
.card-item::nth-child(2) p,
.card-item::nth-child(4) p,
.card-item::nth-child(6) p,
.card-item::nth-child(8) p {
    padding: 60px 80px 0 50px;
}
.card-item:first-child p {
    color: hsl(208, 11%, 55%);
    padding-top: 10px;
}
/* .card-item:l */
.card-item:last-child img {
    width: 20vw;
    margin-left: calc(50% / 2);
    margin-top: 3.5vh;
    /* height: 60vh; */
}
@media (max-width: 912px) {
    .card .card-item {
        width: 50%;
        height: 300px;
    }

    main {
            width: 100%;
    
            /* 1st card margin top + card height + card margin top * 4 */
            height: calc(500px + (330px) * 4);
        } 
}
@media (max-width: 540px) {
    main {
            width: 100%;
    
            /* 1st card margin top + card height + card margin top * 4 */
            height: calc(1000px + (350px) * 4)
        }

    .card {
        display: flex;
        flex-direction: column-reverse !important;
        width: 75vw;
        margin-left: calc(50vw - (75vw / 2));
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0#1817170a, 0 8px 20px 0 #25252513;
    }
.card .card-item {
    width: 100%;
    height: 300px;
}

.card-item:first-child {
    padding: 50px 50px 10px 50px;
    text-align: center;
}
.card-item:first-child h1 {
    font-size: 1.5em;
}
.card-item:first-child p {
    /* text-align: center; */
}
/* .card-item:l */
.card-item:last-child img {
    width: 60%;
    margin-left: calc(45% / 2);
    margin-top: 5vh;
}
}

@media (max-width: 414px) {
    .card-item:first-child {
        padding: 0 50px 10px 50px;
    }
}

@media (max-width: 375px) {
    main {
            width: 100vw;
    
            /* 1st card margin top + card height + card margin top * 4 */
            height: calc(870px + (300px) * 3);
        }

    .card {
        display: flex;
        flex-direction: column-reverse;
        width: 75vw;
        margin-left: calc(50vw - (75vw / 2));
        /* margin-top: 1vh; */
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0#1817170a, 0 8px 20px 0 #25252513;
    }

    .card .card-item {
        width: 100%;
        height: 200px;
    }

    .card-item:first-child {
        padding: 10px 16px 20px 16px;
        text-align: center;
    }

    .card-item:first-child h1 {
        font-size: 1.1em;
    }

    .card-item:first-child p {
        padding-top: 10px;
    }

    /* .card-item:l */
    .card-item:last-child img {
        width: 60%;
        margin-left: calc(40% / 2);
        margin-top: 8vh;
    }
}

section[class="call-to-act-sec"] {
    width: 47%;
    margin: auto;
    position: absolute;
    left: calc(50% - (47% / 2));

    /* negative height of the main section and some adustment */
    bottom: calc(-870px - ((230px) * 3) - 170px - 130px);
}
.call-to-act-card {
    background-color: #ffffff;
    box-shadow: -1px 9px 33px 6px #28282812;
    width: 100%;
    height: 240px;
    border-radius: 15px;
    text-align: center;
}
.call-to-act-card p {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif !important;
    padding-top: 35px;
}
.call-to-act-card button {
    margin-top: 16px;
    width: 48%;
    height: 52px;
    border: none;
    font-size: 15px;
    border-radius: 50px;
    background-color: hsl(322, 100%, 66%);
    color: #ffffff;
    box-shadow: -1px 9px 33px 6px #28282812;
    cursor: pointer;
}

@media (max-width: 912px) {
    section[class="call-to-act-sec"] {
            width: 57%;
            margin: auto;
            position: absolute;
            left: calc(50% - (57% / 2));
    
            /* negative height of the main section and some adustment */
            bottom: calc(-870px - ((230px) * 3) - 30px);
        }
    
        .call-to-act-card {
            background-color: #ffffff;
            box-shadow: -1px 9px 33px 6px #28282812;
            width: 100%;
            height: 210px;
            border-radius: 15px;
            text-align: center;
        }
    
        .call-to-act-card p {
            font-size: 1.3rem;
            font-weight: 600;
            font-family: 'Poppins', sans-serif !important;
            padding-top: 40px;
        }
    
        .call-to-act-card button {
            margin-top: 15px;
            width: 50%;
            height: 51px;
            font-size: 13px;
        }
}

@media (max-width: 540px) {
section[class="call-to-act-sec"] {
        width: 75%;
        margin: auto;
        position: absolute;
        left: calc(50% - (75% / 2));

        /* negative height of the main section and some adustment */
        bottom: calc(-1000px - ((300px) * 4) - 500px);
    }

    .call-to-act-card {
        background-color: #ffffff;
        box-shadow: -1px 9px 33px 6px #28282812;
        width: 100%;
        height: 25vh;
        border-radius: 15px;
        text-align: center;
    }

    .call-to-act-card p {
        font-size: 1.1rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif !important;
        padding-top: 46px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .call-to-act-card button {
        margin-top: 16px;
        width: 50%;
        height: 49px;
        font-size: 13px;
    }
}

@media (max-width: 375px) {
section[class="call-to-act-sec"] {
        width: 80%;
        margin: auto;
        position: absolute;
        left: calc(50% - (75% / 2));

        /* negative height of the main section and some adustment */
        bottom: calc(-870px - ((300px) * 3) - 170px - 100px);
    }

    .call-to-act-card {
        background-color: #ffffff;
        box-shadow: -1px 9px 33px 6px #28282812;
        width: 100%;
        height: 170px;
        border-radius: 15px;
        text-align: center;
    }

    .call-to-act-card p {
        font-size: 0.9rem;
        font-weight: 600;
        font-family: 'Poppins', sans-serif !important;
        padding-top: 35px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .call-to-act-card button {
        margin-top: 12px;
        width: 50%;
        height: 45px;
        font-size: 12px;
    }
}


footer {
    width: 100%;
    height: 600px;
    background-color: hsl(192, 100%, 9%);
    display: flex;
    color: #ffffff;
    padding: 100px;
    padding-right: 50px;
}
footer a{
    color: #ffffff;
    text-decoration: none;
}
footer > .ft-intro,
footer > .ft-social {
    width: 30%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

footer>.ft-link-1,
footer>.ft-link-2 {
    width: 20%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}


footer > .ft-intro div {
    padding-top: 20px;
}
footer > .ft-intro div > img {
    height: 20px;
}
footer > .ft-intro div > p{
    padding-left: 30px;
    padding-right: 30px;
}
footer > .ft-intro div > a {
    padding-left: 20px;
}
footer > .ft-intro svg {
    margin-bottom: 40px;
}

footer>.ft-social {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 50px;
}

footer > .ft-social i {
    font-size: 10px;
    font-weight: lighter;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 8px 8px;
    margin-left: 15px;
}
footer>.ft-social div:first-child i {
    padding: 8px 10px;
}
footer small {
    clear: both;
    display: block;
    margin-top: 200px;
}
@media (max-width: 912px) {
    footer {
        width: 100%;
        height: 600px;
        background-color: hsl(192, 100%, 9%);
        display: flex;
        color: #ffffff;
        padding: 50px 90px;
        padding-right: 50px;
    }

    footer > .ft-link-1,
    footer > .ft-link-2{
        padding-left: 10px;
    }
}
@media (max-width: 540px) {
footer {
        width: 100%;
        height: 1000px;
        background-color: hsl(192, 100%, 9%);
        display: flex;
        flex-direction: column;
        color: #ffffff;
        padding: 50px;
    }

    footer a {
        color: #ffffff;
        text-decoration: none;
    }

    footer>.ft-intro,
    footer>.ft-social {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    footer>.ft-link-1,
    footer>.ft-link-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    footer>.ft-link-1 {
        margin-top: 120px;
    }
    footer>.ft-link-2 {
        margin-top: 20px;
    }
    footer > .ft-intro {
        margin-top: 200px;
        margin-bottom: -100px;
    }
    footer>.ft-intro div {
        padding-top: 20px;
    }

    footer>.ft-intro div>img {
        height: 20px;
    }

    footer>.ft-intro div>p {
        padding-left: 30px;
        padding-right: 30px;
    }

    footer>.ft-intro div>a {
        padding-left: 20px;
    }

    footer>.ft-intro svg {
        margin-bottom: 40px;
    }

    footer>.ft-social {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        margin-left: 0;
        text-align: center;
    }

    footer>.ft-social i {
        font-size: 10px;
        font-weight: lighter;
        border: 1px solid #ffffff;
        border-radius: 50%;
        padding: 8px 8px;
        margin-left: 15px;
    }

    footer>.ft-social div:first-child i {
        padding: 8px 10px;
    }

    footer small {
        clear: both;
        display: block;
        margin-top: 30px;
    }
}
